* {
    color: #2e2e36;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    background-image: url(header_bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p,
h2 {
    margin: 0;
}

h2 {
    font-size: 22px;
}

.content {
    margin: 20px 0;
    display: flex;
}

.image-container {
    position: relative;
}

.image-container::after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #c52323;
    border-radius: 50%;
    top: calc(50% - 12px);
    left: calc(50% - 12px);
}

.description {
    padding: 25px;
    background-color: #eee;                
    height: 160px;
    width: 350px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.title {
    display: flex;
    align-items: center;
}

.icon {
    margin-left: 5px;
    height: 30px;
    width: 30px;                
    background-position: center;
    background-repeat: no-repeat;
}

.icon.smoke {
    background-image: url("smokegrenade.svg");
    background-size: 12px;
}

.icon.grenade {
    background-image: url("hegrenade.svg");
    background-size: 19px;
}

.icon.molotov {
    background-image: url("molotov.svg");
    background-size: 19px;
}

.icon.flash {
    background-image: url("flashbang.svg");
    background-size: 25px;
}

.icon.decoy {
    background-image: url("decoy.svg");
    background-size: 24px;
}

.icon.bomb {
    background-image: url("bomb.svg");
    background-size: 24px;
}

.label-container {
    display: flex;
    justify-content: center;
}

.label {
    margin: 10px 0;
}

.label label,
.difficulty {
    padding: 5px 15px;
    background-color: #c1c1c1;
    border-radius: 14px;
    margin-right: 10px;
    letter-spacing: 1px;
}

.label.active label {
    background-color: #e48717;       
}

.difficulty {
    margin: 0;
    letter-spacing: 0;
    font-size: 15px;
}

.difficulty.easy {
    background-color: #23c531;
}

.difficulty.medium {
    background-color: #e4c92f;
}

.difficulty.hard {
    background-color: #c52323;
    color: #fff;
}

.selector-container {
    display: flex;
    margin: 50px 0;
}

select {
    margin-right: 10px;
    background-color: #eee;
    padding: 5px 10px;
    border: none;
}

select:focus-visible {
    outline: none;
}


@media (max-width: 1250px) {
    .content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .description {
        margin-left: 0;
        margin-top: 20px;
        width: 718px;
        height: 120px;
    }

    .label-container {
        justify-content: start;
    }
}

@media (max-width: 980px) {
    img {
        width: 100%;
        height: auto;
    }

    .description {
        width: 100%;
    }
}